
.content-wrapper{
  height: calc(100vh - 4rem) !important;
  margin-top: 4rem;
  background: var( --color-background);
  .content-header{
    color: var(--color-white);
  }
  .main-card{
    min-height: 41.5rem;
    max-height: 41.5rem;
    background: var(--color-primary-variant);
    overflow: hidden;
    .display-card{
      overflow: auto;
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;
    }
  }
  .table-card{
    min-height: 39.5rem;
    max-height: 39.5rem;
  }



}

.display-card::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  max-height: 39.5rem;
  height: 30rem;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
  position: sticky;
  left: 17.9rem;
  right: 0;
  top: -1rem;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
	th {
		background-color: var( --color-danger);
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

