
.content-wrapper{
  height: calc(100vh - 4rem) !important;
  margin-top: 4rem;
  background: var( --color-background);
  .content-header{
    color: var(--color-white);
  }
  .breadcrumb-item{
    font-size: medium;
    a{
      text-decoration: none;
      color: var(--color-success);
    }
  }
  .main-card{
    min-height: 41.5rem;
    max-height: 41.5rem;
    background: var(--color-primary-variant);
  }

}
label{
  font-weight: 500 !important;
  font-size: 15px;
  // color: var(--color-info);
}

//Employee Details Card
.details-card{
  position: relative;
  max-width: 50rem;
  height: 25rem;
  margin-left: 22%;
  margin-top: 5rem;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 25px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    transform: scale(1.04);
    background: rgba(255,255,255,0.2);
  }

//   &::before{
//   content: '';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 50px;
//   background: var(--color-primary-variant);
// }
.content{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -80px;
  gap: 20px;
  width: 100%;
  justify-content: space-evenly;
}
.content .imgBox{
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius:50%;
  box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.content .details{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--color-white);
  h3{
    font-weight: 400;
    font-size: large;
    color: var(--color-success);
  }
  div{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
}

button{
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  &:hover{
    color: var(--color-success);
    background: var(--color-background);
  }
}


