


<aside class="main-sidebar elevation-4">
  <div class="sidebar os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
    <div class="os-resize-observer-host observed">
      <div class="os-resize-observer" style="left: 0px; right: auto;">
      </div>
    </div>
    <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;">
      <div class="os-resize-observer">

      </div>
    </div>
    <div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 697px;">
    </div>
    <div class="os-padding">
      <div class="os-viewport os-viewport-native-scrollbars-invisible">
        <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">

  <nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">
  <li class="nav-item">
  <a
   class="nav-link"
   [routerLink]="['/cbt/home']"
  [ngClass]="{ active: linkActive == 'home' }"
   >
  <i class=" nav-icon fa-solid fa-house-chimney"></i>
  <p>
  Home
  </p>
  </a>
  </li>
  <li style="margin-top:40rem">
   <span style="color:#ffffff"> Developed By</span> : <span class="text-danger">Subhajit Pramanik</span>
  </li>
  </ul>
  </nav>
  </div>
</div>
</div>
<div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
  <div class="os-scrollbar-track">
    <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);">
    </div>
  </div>
</div>
<div class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable os-scrollbar-auto-hidden">
  <div class="os-scrollbar-track">
    <div class="os-scrollbar-handle" style="height: 100%; transform: translate(0px, 0px);">
    </div>
  </div>
</div>
<div class="os-scrollbar-corner">

</div>
</div>
  </aside>
